/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

body, html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgba(233,241,238,1);
    overflow: hidden;
}
.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    bottom:-400px;
}
.content {
    width: 60%;
    height: 350px;
    background: rgba(54,57,63,1);
    color: rgba(233,241,238,1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}
.chat {
    width: 100%;
    height: 268px;
    padding: 5px;
    overflow: auto;
}
.msg {
    background: rgba(64,68,75,1);
    width: 98%;
    height: 16px;
    bottom: 5px;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(32,34,37,1);
    padding: 10px;
}
.fa-discord {
    color: rgba(114, 136, 218, 1);
}
.fa-rectangle-xmark {
    color: rgba(255, 0, 0, 1);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1);
    font-size: 24px;
}
.fa-circle-question {
    color: rgba(248, 255, 145, 1);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1);
    font-size: 20px;
}
.fa-circle-question:active {
    font-size: 18px;
}
.fa-rectangle-xmark:active {
    font-size: 22px;
}
.icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50px;
}
.title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: -2px;
    word-spacing: 2px;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: #54dcc8;
    text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #54dcc8, 0 0 5px #54dcc8, 0 0 6px #54dcc8, 0 0 7px #54dcc8, 0 0 8px #54dcc8;
}
::-webkit-scrollbar {
    background: rgba(46,51,56,1);
    width: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(46,51,56,1);
            box-shadow: inset 0 0 5px rgba(46,51,56,1); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(32,34,37,1); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(32,34,37,1); 
}
.helpdesk {
    min-width: 400px;
    max-width: 400px;
    top: 40px;
    right: 10px;
    padding: 10px 20px;
    color: #000000;
    background-color: #f8ff91;
    font-weight: normal;
    font-size: 14px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #999999;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.5);
            box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
}
